.top-section {
    background-color: #f4f4f4;
    padding: 20px;
    
}

.image-section {
    margin: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.trivia-section {
    padding: 20px;
}

.trivia-section ol {
    margin-left: 20px;
}
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

